<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
    <meta name="viewport" content="width=device-width, minimal-ui, initial-scale=1">

    <title><%= title %></title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/header.css" rel="stylesheet">
    <!-- start Loggly -->
    <!--<script type="text/javascript" src="//cloudfront.loggly.com/js/loggly.tracker-2.1.min.js" async></script>
    <script>
        var _LTracker = _LTracker || [];
        _LTracker.push({'logglyKey': '0a2a8099-24b9-43aa-acd9-33258b460737',
            'sendConsoleErrors' : true,
            'tag' : 'loggly-jslogger'  });
    </script>-->
    <!-- end Loggly -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!--    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>-->
</head>