<div class="container col-md-12" style="text-align: center;">
    <img class="logo" style='<%= logoStyle %>'
         src='data:<%= companyLogo.contentType %>;base64,<%= companyLogo.data.toString('base64') %>' />
</div>