<div class="container col-md-12" style="text-align: right;padding: 5px;">
    <img class="logo" style='<%- 'height:100px;padding-top:0px;zoom:60%;' + client.logoStyle %>'
         src='data:<%= client.logoImg.contentType %>;base64,<%= client.logoImg.data.toString('base64') %>' />
</div>