.idea/workspace.xml
data/
**/node_modules/
**/dist/
.vscode/
forupload/
heroku.log
herokudev.log
herokuheroku-staging.log
herokuprod.log
herokuprod1.log
herokustaging.log
herokustaging.old.log
log_heroku.bat
node_modules/
public/images/teva-logo.png
set_env.bat
