<!DOCTYPE html>
<html>
<% include partials/head %>
<header>
    <% include partials/logo %>
  <div class="container col-md-12">
    <h1> <%=  title %> </h1>
  </div>
</header>
<body class="content" dir=<%=isInEnglish%>>
<div   class="container" style="scroll:hidden;overflow: auto; height: 370px;width:100%;">
  <form id="info" method="get" action="/form">
    <div class="container introText" style="padding: 10px;margin-top: 0px; ">

      לפניך שאלון לדוגמא/דמו למבחן מיון למועמדים לתפקיד נציגי שירות ו/או מכירה בחברה המרכזית.
      יש להשיב על השאלון בכנות וברצינות ולמלא בסביבה נטולת הפרעות וברצף.
      בתודה ובהערכה, צוות ההנהלה.

    </div>
    <div class="container inputField" style="padding-top: 30px;font-weight: 600;color: black; /*font-size: medium;*/">
  <div class="">להתחלת השאלון נא מלא/י את הפרטים הבאים:</div>
    <!--
      <div class="" style="padding-top: 20px;">
      <input id="user_fullName" type="text" placeholder="שם מלא" required style="border-style: none none solid none;text-align: center;opacity: 0.7;">
    </div>
      <div class="" style="padding-top: 20px;">
        <input id="user_tel" type="tel" placeholder="מספר טלפון" required style="border-style: none none solid none;text-align: center;opacity: 0.7">
      </div>
      -->
      <div class="" style="padding-top: 20px;">
        <input id="user_id" type="text" maxlength="9" placeholder="ת.ז."  style="border-style: none none solid none;text-align: center;opacity: 0.7">
      </div>
      <!--
      <div class="" style="padding-top: 20px;">
        <input  id="user_email" type="email" placeholder="דואר אלקטרוני" required style="border-style: none none solid none;text-align: center;opacity: 0.7">
      </div>
      -->
    </div>
    <div class="" style="padding-top: 50px; padding-bottom: 50px;">
      <button href="/form" id="submit" name="submit_btn" style="width: 100px;" class="btn btn-primary">הבא</button>
    </div>

  </form>
</div>

<% include partials/footer %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
<script src="javascripts/messages_he.js"></script>
  </body>
</html>
