<!DOCTYPE html>
<html>
<% include partials/head %>
<header>
    <% include partials/logo %>
  <div class="container col-md-12">
    <h1> <%=  title %> </h1>
  </div>
</header>
<body class="content" dir=<%=isInEnglish%>>
<div  id="form" class="container" style="scroll:hidden;overflow: auto; height: 370px;width:100%;">
  <form method="get" action="/form">
    <div class="container q" style="padding: 10px;margin-top: 0px;font-size: small;">
      כלל החזקות עסקי ביטוח בע"מ, המוכרת במותג "כלל ביטוח" היא קבוצת הביטוח והפנסיה הגדולה בישראל. ניירות ערך של החברה נסחרים בבורסה לניירות ערך בתל אביב. לקבוצה נתח שוק של כ-24% משוק הביטוח בישראל והיקף הנכסים המנוהלים על ידה עומד על 75 מיליארד ש"ח.
    </div>
    <div class="container" style="padding-top: 30px;font-size: smaller;font-weight: 600;color: black;">
  <div class="">להתחלת השאלון הכנס/י תעודת זהות:</div>
    <div class="" style="padding-top: 20px;">
      <input  id="user_id" placeholder="ID" style="border-style: none none solid none;text-align: center;opacity: 0.7">
    </div>
    </div>
    <div class="" style="padding-top: 50px; padding-bottom: 50px;">
      <a href="/form" id="submit" name="submit_btn" style="width: 100px;" class="btn btn-primary">הבא</a>
    </div>

  </form>
</div>
<% include partials/footer %>
  </body>
</html>
