<!DOCTYPE html>
<html>
<% include partials/head %>

<body class="content" dir=<%=indexPageText.textDirection%>>
<header>
    <% include partials/logo %>
    <!--
    <div class="container col-md-12">
        <h1> <%=  title %> </h1>
    </div>
    -->
</header>
<div id="formContainer" class="container screen" style="scroll:hidden;overflow-x: auto; overflow-y: scroll; -webkit-overflow-scrolling: touch; height: 500px;width:100%;">
<% include partials/indexPartial %>
</div>
<% include partials/footer %>
<script>
    window.addEventListener("load", function() { window. scrollTo(0, 0); });
    var agreeChk = document.getElementById('agree');
    var nextBtn = document.getElementById('next_btn');

    document.addEventListener('DOMContentLoaded', function () {
        document.querySelector('#agree').addEventListener('change', displayNext);
    displayNext();
    });

    function displayNext(){
        if(agreeChk.checked){
            nextBtn.style.display = 'block';
        }
        else{
            nextBtn.style.display = 'none'
        }
    }


    var isFirstPage = true;
    function goNext() {
        if(isFirstPage) {
            document.getElementById('testInstructions').style.display = 'none';
            document.getElementById('companyDescription').style.display = 'block';
            document.getElementById('back_btn').style.display = 'block';
            isFirstPage = false;
        }
        else {
            //console.log("%s.%s:%s -", __file, __ext, __line, "redirect to form");
            var startFormDate = new Date();
            mixpanel.track('User Start Form', {'sid': sid, 'userType': 'candidate', 'date': startFormDate.toString(), 'cid': cid });
            document.getElementById("formInfo").submit();
        }
    }

    function goBack() {
        if (!isFirstPage) {
            document.getElementById('testInstructions').style.display = 'block';
            document.getElementById('companyDescription').style.display = 'none';
            document.getElementById('back_btn').style.display = 'none';
            isFirstPage = true;
        }
    }


</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.2/jquery.scrollTo.min.js"></script>
<script src="/javascripts/messages_he.js"></script>
<script src="/javascripts/indexIntro.js" ></script>
  </body>
</html>
