<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>privacy</title>
</head>
<body dir="rtl">
<p><b>מדיניות פרטיות</b>
<br><br>
אלגומצ' בע"מ ("אלגומצ'", "אמפיריקל הייר","אנו" ו/או "אנחנו") פיתחה מבחן עבור עובדים קיימים ועובדים פוטנציאליים של ארגונים, המבצע שימוש באלגוריתמים וניתוח נתונים לשם הפקת הערכה מפורטת של כשירות מועמד למשרה מסוימת ("ההערכה"), אשר משולבת בכלים הפנימיים להערכת העובדים של הארגון (המערכת שלנו תוגדל להלן "המערכת"). השימוש בהערכה ו/או במערכת כפוף למדיניות הפרטיות זו ("מדיניות הפרטיות")."אתה" פירושו כל אדם המשתמש במערכת מכל סיבה שהיא, לרבות כל אדם המשתתף בהערכה, המכהן כמנהל במערכת, וכל מי שמייצר דוחות באמצעות המערכת או משתמש בהם. המונחים אשר לא הוגדרו במפורש במסמך זה, יפורשו בהתאם להגדרות שניתנו להם
    <a href="/views/terms.ejs">בתנאי השימוש</a>
    , הנמצאים בכתובת.
<br><br>
אמפיריקל הייר מכבדת את זכותך לפרטיות ואת יכולתך לקבל החלטות מודעות על המידע שלך. מדיניות פרטיות זו מפרטת את סוגי המידע שאנו אוספים, כיצד אנו אוספים, משתמשים, מעבירים, ושומרים על המידע שאנו אוספים. כמו כן, מדיניות הפרטיות מפרטת את היכולת שלך לשלוט על שימוש מסוים של המידע שנאסף.
    <br><br>
מדיניות הפרטיות מנוסחת בלשון זכר אך מיועדת לכל אדם המשתמש במערכת, נשים וגברים כאחד (להלן: "אתה", או "המשתמש/ים").
    <br><br>
במדיניות פרטיות זו, "מידע אישי" הינו מידע שיכול להיות קשור באופן ישיר לאדם מסוים, דוגמת שם, כתובת, מספר טלפון, וכתובת דואר אלקטרוני.
    <br><br>
לא חלה עליך חובה למסור את המידע, ומסירת המידע על ידך נעשית על אחריותך בלבד, מרצונך ובהסכמתך, אך אם לא תסכים למסור את המידע, כולו או חלקו, ייתכן שלא נוכל לספק חלק מהשירותים באמצעות המערכת.
    <br><br>
אנו שומרים לעצמנו את הזכות לעדכן את מדיניות הפרטיות מעת לעת, לפי שיקול דעתנו הבלעדי. במידה שנעדכן את מדיניות הפרטיות נעדכן אותך מראש.
    <br><br>
המידע שאנו אוספים<br>
אנו אוספים מידע מכל המשתמשים במערכת, לרבות כל מידע שאתה מוסר בעת שימושך במערכת, או אשר הוזן למערכת ("המידע"). לדוגמא, כדי להשתמש במערכת, תידרש ליצור חשבון משתמש ולהזין מידע אישי מסוים כגון שמך ופרטים אחרים. אנו נאסוף ונשמור מידע זה. כמו כן, אנו אוספים מידע המוזן למערכת על ידי משתמשים אחרים, כגון מידע ממעסיקים על עובדיהם, לרבות שמות ופרטים לגבי ביצועי שימוש המשתמש בהערכה ו/או תפקיד המשתמש.
    <br><br>
בנוסף למידע המפורט לעיל, המערכת עשויה לשמור מידע מסוים באופן אוטומטי, כגון מידע על המחשב שלך, המכשיר הנייד, מערכת ההפעלה, כתובת ה-IP, היסטוריית הגלישה, והדפדפן בו את משתמש. בנוסף, אנו אוספים כל מידע שאתה מוסר בעת יצירת קשר עמנו, מכל סיבה שהיא.
    <br><br>
כיצד אנו משתמשים במידע
    <br><br>
שירותים והתאמה<br>
אנו עשויים להשתמש במידע אישי או במידע אחר לצורך מתן שירותים לארגון, לרבות, בין היתר, דיווחים וניתוחים המבוססים על הערכות שבוצעו באמצעות המערכת.
    <br><br>
אנו גם עשויים להשתמש במידע לצרכים פנימיים, למשל, כדי לסייע באבחון בעיות עם השרתים שלנו, לשפר את המערכת ו/או השירותים ולהתאים אותם לצרכים מסוימים.
    <br><br>
נתונים סטטיסטים<br>
על ידי עיבוד המידע שאנו מקבלים, כולל מידע אישי של משתמשים, אנו עשויים לאסוף נתונים סטטיסטיים ממגוון משתמשים ("נתונים סטטיסטיים"). הנתונים הסטטיסטיים עוזרים לנו לבחון את הביצועים של עובדים קיימים של הארגון וצרכים פרטניים הנוגעים לגיוס עובדים על מנת לשפר וליעל את תהליך גיוס העובדים וכדי להתאים את המערכת והשירותים לצרכים שונים. אנו עשויים להעביר את הנתונים הסטטיסטיים לארגון או לשותפינו (כמפורט להלן), בהתאם לתנאים מסחריים שאנו קובעים ולפי שיקול דעתנו הבלעדי.
    <br><br>
ניתוח נתונים סטטיסטיים<br>
אנו עשויים לנתח את הנתונים הסטטיסטיים באמצעות תוכנות המספקות שירותי מידע וניתוח סטטיסטי לרבות, אך ללא הגבלה, באמצעות Google Analytics ("כלים אנליטיים"). אנו לא משלבים את המידע שנאסף באמצעות הכלים האנליטיים עם מידע המאפשר זיהוי באופן אישי. אנו עשויים להעביר את הנתונים הסטטיסטיים ללקוחות ולשותפינו (כמפורט להלן). כמו כן, אנו משתמשים במידע שאנו מקבלים מהכלים האנליטיים לשיפור המערכת. המידע אשר Google Analytics אוסף לגבי שימושך במערכת כפוף לתנאי השימוש ומדיניות הפרטיות של Google Analytics כמפורט להלן:http://www.google.com/analytics/terms/us.html ,http://www.google.com/policies/privacy/.
    <br><br>

שמירת המידע<br>
אנו נשמור את המידע האישי כל עוד יש צורך לספק ללקוחותינו גישה ושימוש במערכת, לעמוד בהתחייבויות המשפטיות שלנו, לפתור סכסוכים ולאכוף את ההסכמים שלנו.
    <br><br>

שימושים אחרים או העברת המידע שלך<br>
אם לא צוין אחרת במפורש, לא נעביר את המידע האישי שלך לצדדים שלישיים ללא הסכמתך המפורשת, למעט במקרים הבאים: (1) אמפיריקל הייר תגלה כי אילו מפעולותיך במערכת ו/או בשירותים מפרות את תנאי השימוש של המערכת או נעשו לשם ביצוע תרמית מכל סוג שהוא; (2) אמפיריקל הייר תעמוד בפני איום שיינקטו נגדה צעדים משפטיים (פליליים או אזרחיים) בגין פעולות שביצעת במערכת ו/או בשירותים; (3) העברה כאמור נדרשת על פי כל דין, תקנה, צו בית משפט או צו מטעם רשות אכיפה כלשהי. אנו נשתף פעולה באופן מלא עם רשויות האכיפה או עם צו בית משפט הדורשים מאיתנו להסגיר את זהותו או התנהגותו של כל מי שנחשד/ת בהתנהגות בלתי-חוקית.
    <br><br>
בנוסף, אנו עשויים להשתמש ולחשוף את המידע, לרבות המידע האישי, כדלהלן:
    <br><br>
שותפים עסקיים, ספקי שירות, שותפים וקבלני משנה<br>
אנו עשויים לחשוף את המידע, כולל מידע אישי לארגון, לשם הספקת השירותים, או לספקי שירות, קבלני משנה, חברות קשורות, ולשותפים עסקיים (יחד עם הארגון, "צדדים שלישיים מורשים") אשר עשויים להשתמש במידע כדי (1) לסייע לנו לספק את השירותים (2) לסייע להם בהבנת השימוש במערכת ו/או בשירותים.
    <br><br>
צדדים שלישיים מורשים עשויים להיות ממדינות שאינן מדינתך. כל הצדדים השלישיים המורשים שלנו כפופים לחובות סודיות ואיסור שימוש במידע. עם זאת, ייתכן שרמת ההגנה על המידע אישי ו/או מידע אחר אינה גבוהה בחלק ממדינות אלו כמו במקום מגוריך או עסקיך.
    <br><br>
העברה בעלות<br>
אנו עשויים להעביר את מאגרי המידע שלנו המכילים את המידע אם נמכור את עסקנו או חלק ממנו.
    <br><br>
העברה במסגרת אכיפת חוק<br>
אנחנו נשתף פעולה עם רשויות אכיפת החוק או כל צו שיפוטי הדורש או מנחה אותנו לגלות את הזהות, ההתנהגות או התוכן הדיגיטאלי של כל משתמש שישנו חשד שנקט בפעולות הנחזות למנוגדות לדין או בפעולות מפרות חוק. כמו כן, אנו עשויים לשתף את המידע האישי שלכם עם צדדים שלישיים, אם אנו מאמינים בתום לב שגילוי המידע הינו נאות כדי להגן על הזכויות, הרכוש או הבטיחות שלנו (לרבות אכיפת מדיניות הפרטיות) או להגן על הזכויות, הקניין או הבטיחות של צדדים שלישיים . ניתן לבקש מידע אישי כאמור באמצעות בדואר אלקטרוני בכתובת info@empiricalhire.com.
    <br><br>

כיצד אנו מגנים על מידע<br>
אנו פועלים לפי הסטנדרטים המקובלים בתעשייה על מנת להגן על המידע האישי שנמסר לנו, הן בזמן מסירתו והן מרגע קבלת המידע האישי. עם זאת, מסירת מידע באמצעות האינטרנט או באמצעות אחסון אלקטרוני אינן מאובטחות לחלוטין. לכן, בעוד שאנו שואפים להשתמש בסטנדרטיים המסחריים המקובלים על מנת להגן על המידע האישי שלך, איננו יכולים להבטיח את אבטחתו המוחלטת.
    <br><br>
הודעות<br>
אנו שומרים לעצמנו את הזכות לשלוח לך הודעות הקשורות לשימוש במערכת, לרבות הודעות שירות ומסרים מנהליים, המתייחסות לחשבונך או לפעילויות הקשורות למערכת, מבלי להציע לך את האפשרות לבטל את קבלתם. אם אינך מעוניין לקבל הודעות כאלו, תוכל לבטל את חשבונך.
    <br><br>
קטינים<br>
מידע הנאסף ממשתמשים שגילם מתחת לגיל 13, נאסף שלא במודעות אמפיריקל הייר. במידה ותגלה שמשתמש מתחת לגיל 13 נרשם במערכת, הנך מתבקש להודיע לנו מיד.
    <br><br>


אמפיריקל הייר תמחק ו/או תשנה מידע שנאסף על המשתמש בהתאם לבקשה בכתב מהמשתמש לכתובת info@empiricalhire.com אם וככל שאפשרי ובהתאם להוראות החוק, המחיקה תתבצע תוך זמן סביר מקבלת הבקשה למחיקה. עם זאת, אנו עשויים לשמור עותק של מידע מסוים למטרות ביקורת ומרשמים שלנו. מרגע שמידע נמחק, לא ניתן להשיבו.
    <br><br>

Cookies<br>
אמפיריקל הייר תהא רשאית לעשות שימוש ב"עוגיות" ("cookies" – קבצי טקסט קטנים אשר מאוחסנים על ידי השרת על הכונן הקשיח של המחשב בו אתה משתמש באמצעות הדפדפן שלך), על מנת לספק לך שירות מהיר ויעיל ולחסוך ממך את הצורך להזין את פרטיך האישיים בכל כניסה למערכת. עם זאת, יובהר כי ה"עוגיות" אינן מכילות כל מידע שמזהה אותך באופן אישי וביכולתך לכוון את תוכנת הדפדפן שלך כך שלא ייקלטו במחשב "עוגיות" או שיימחקו.
    <br><br>
החזקת מידע<br>
אנו נשמור את המידע שלך כל עוד נדרש לעשות כך כדי לספק את השירותים, לעמוד בהתחייבויות המשפטיות שלנו, לפתור סכסוכים ו/או לאכוף את ההסכמים שלנו. אנו עשויים למחוק את המידע שלך, בלי להודיע לך, כל עוד אנו רואים שאין צורך להחזיק בו למטרות המפורטות לעיל.
    <br><br>
שינויים ומחיקת מידע<br>
על ידי השימוש במערכת, הינך מקבל את התנאים של מדיניות פרטיות הזו. אם אינך מסכים לתנאים, אל תשמש במערכת. אמפיריקל הייר שומרת לעצמה את הזכות לעדכן את מדיניות הפרטיות מעת לעת, לפי שיקול דעתה הבלעדי וללא צורך בהודעה מראש. על ידי שימוש במערכת או בשירותים, הנך מסכים לתנאי מדיניות הפרטיות המעודכנת.
    <br><br>

הערות ושאלות<br>
אם יש לך שאלות או הערות לגבי מדיניות הפרטיות שלנו, אנא צור קשר בכתובת info@empiricalhire.com.
    <br><br>
עודכן לאחרונה: נובמבר 2017
    <br><br><br><br>
</p>
</body>
</html>