<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>terms</title>
</head>
<body dir="rtl">
<p><b>תנאי שימוש</b>
<br><br>
אלגומצ' בע"מ ("אלגומצ'", "אמפיריקל הייר","אנו" ו/או "אנחנו")  פיתחה מבחן עבור עובדים קיימים ועובדים פוטנציאליים של ארגונים, המבצע שימוש באלגוריתמים וניתוח נתונים לשם הפקת הערכה מפורטת של כשירות מועמד למשרה מסוימת ("ההערכה"), אשר משולבת בכלים הפנימיים להערכת העובדים של הארגון (המערכת שלנו תוגדל להלן "המערכת"). ההערכה ושירותים אחרים המסופקים באמצעות המערכת, לרבות יצירה ושימוש בדוחות (כמפורט להלן) המבוססים על ההערכה, יכונו ביחד "השירותים".  "משתמש" או "אתה" פירושו כל מבוגר המשתמש במערכת כדי להשתתף בהערכה או שימוש בשירותים.
<br><br>
תנאי השימוש מנוסחים בלשון זכר אך מיועדים לכל משתמשי המערכת, נשים וגברים כאחד.
<br><br>
אנא קרא בעיון את תנאי השימוש להלן ("תנאי השימוש"). תנאי השימוש מסדירים את הגישה שלך למערכת ואת השימוש בה, את השתתפותך בהערכה וכל שימוש בשירותים. במידה ותלחץ על "אני מסכים", אתה מצהיר ומתחייב שהנך מסכים
ל<a href="#">תנאי השימוש</a>
ול<a href="/policy.com">מדיניות הפרטיות</a>
    שלנו, המפורסמת בכתובת ("מדיניות הפרטיות"). אנחנו שומרים לעצמנו את הזכות לעדכן את תנאי השימוש מעת לעת, לפי שיקול דעתנו הבלעדי וללא צורך בהודעה מראש. המשך השימוש בשירותים ייחשב כהסכמה לתנאים מתוקנים או מעודכנים. אם אינך מסכים לתנאי השימוש, אל תסמן "אני מסכים" ו/או על תשתמש בשירותים.
<br><br>
רישיון<br>
אמפיריקל הייר מעניקה לעובדים מסוימים או לנציגים המיועדים להיות נציגים מורשים של הארגון אשר אמונים על קיום ההערכה ("הארגון" ו-"מנהל(ים)", בהתאמה) זכויות מסוימות לשימוש במערכת, לרבות הזכות לקבל דוחות מסוימים המונפקים על ידי המערכת, ובהתבסס על הערכות שנערכו על ידי המשתמש ("דוחות"). למנהל תינתן הסמכות להעניק הרשאות שימוש במערכת למשתמשים ובנוסף לחסום משתמשים משימוש במערכת. המנהל רשאי לצפות בכל המידע של המשתמש ולגשת לכל הנתונים המועלים על ידי משתמש למערכת.
<br><br>
הרשמה<br>
המנהל ייתן לכל משתמש גישה למערכת באמצעות חשבון המשתמש עבור כל משתמש ("חשבון המשתמש"). באמצעות חשבון המשתמש, יוכל המשתמש להשתתף בהערכה, בכפוף לתנאי השימוש ולמדיניות הפרטיות שלנו. אנו שומרים לעצמנו את הזכות לסרב לתת לכל מנהל אפשרות ליצור חשבון משתמש מכל סיבה שהיא, לפי שיקול דעתנו הבלעדי.
<br><br>
כל מידע שסופק במהלך ההרשמה לחשבון המשתמש חייב להיות מדויק. הנך נושא באחריות מלאה ובלעדית לאבטחת מערכת המחשב שלך ולכל הפעולות בחשבון המשתמש שלך, גם אם פעולות אלה לא הושלמו על ידך. אתה מסכים להודיע לאמפיריקל הייר באופן מיידי על כל שימוש לא מורשה בחשבון המשתמש שלך או בסיסמה שלך. אמפיריקל הייר לא תהיה אחראית לשום נזק שייגרם כתוצאה משימוש בלתי מורשה בחשבון או בסיסמה שלך, ואתה מסכים לשפות ולהגן על אמפיריקל הייר מפני כל שימוש לרעה או כל שימוש בלתי חוקי בחשבונך, לרבות כל חיובים ו/או מיסים שייגבו, אלא אם כן הודעת לנו באמצעות שליחת דואר אלקטרוני לכתובת info@empiricalhire.com שחשבונך נפרץ או נפגע וביקשת מאמפיריקל הייר לחסום את הגישה לחשבון זה. אנחנו לא אוכפים, ואין באפשרותנו להבטיח שנוכל למנוע או להיות מודעים לשימוש בלתי הולם במערכת ו/או בשירותים.
<br><br>
ביטול חשבון<br>
עם סיום, השעיה או הקפאה של ההסכם בינינו לבין הארגון מכל סיבה שהיא, אנו עשויים לבטל את חשבונך על פי שיקול דעתנו הבלעדי.
<br><br>
אנו עשויים להשעות או לסיים את חשבונך במידה ותפר את אחד או יותר מתנאי השימוש.
<br><br>
עם סיום או השעיה של חשבונך, לא תהיה לך כל גישה למערכת או לכל תוכן שזמין לך דרך המערכת ("התוכן") באמצעות החשבון שלך.
<br><br>
אם אמפיריקל הייר מאמינה, לפי שיקול דעתה הבלעדי, שבוצעה הפרה של תנאי השימוש או של כל חוק או שנעשה שימוש בלתי ראוי או התנהגות לא הולמת במערכת ו/או בשירותים, אנו רשאים לפעול בכל פעולה מתקנת שנמצא לנכון. אנו שומרים לעצמינו את הזכות לחקור הפרות חשודות של תנאי השימוש או התנהגות לא חוקית או לא הולמת בקשר עם המערכת ו/או השירותים. אנו נשתף פעולה באופן מלא עם כל חקריה של רשות אכיפה או צו משפטי המבקש או דורש שנחשוף את זהותו או התנהגותו של משתמש וכל תוכן של כל מי שנחשד בהפרת תנאי השימוש או בהתנהגות לא חוקית. כל השעיה או סיום של חשבונך לא ישפיע על חובותיך תחת תנאי השימוש (לרבות בעלות, שיפוי, מצגים והתחייבויות שניתנו על ידך, והגבלת אחריות) אשר לפי אופיים או תוכנם אמורים לשרוד השעיה או סיום כאמור.
<br><br>
שירותים<br>
הנך רשאי להשתמש במערכת, בתוכן ובשירותים המועברים באמצעות המערכת, לצורך הערכה של כישורים ותכונות, בקשר להעסקה או הגשת מועמדות להעסקה על ידי הארגון בלבד. אינך רשאי להשתמש בהערכה או בשירותים על מנת לספק שירותים או תוכן לצדדים שלישיים או לעשות כל שימוש מסחרי בהערכה, במערכת, בשירותים, או בתוכן. אמפיריקל הייר רשאית, בכל עת ולפי שיקול דעתה הבלעדי, לבטל כל חלק מהשירותים ללא הודעה מראש.
<br><br>
השימוש בשירותים והגישה למערכת ו/או להערכה בטלים ככל ושימוש או גישה זו אסורים על פי חוק, תקנה או כל התחייבות אחרת. על ידי שימוש בשירותים, הנך מצהיר ומתחייב כי (א) הנך מסכים לתנאי השימוש ולמדיניות הפרטיות לפני השימוש בשירותים; (ב) כל מידע שהוגש בשלב הרישום למערכת הוא אמיתי ומדויק, עדכני ומלא; (ג) תשמור על הדיוק ואמיתות מידע זה; (ד) אתה בן שמונה עשרה (18) שנים ומעלה ויש לך את היכולת ליצור חוזה מחייב; וכן (ה) השימוש שלך במערכת, בהערכה, ו/או בשירותים אינו מפר כל חוק או תקנה או כל התחייבות שעשויה להיות לך כלפי צד שלישי.
<br><br>
תוכן<br>
השירותים עשויים לאפשר לך להוסיף תוכן ו/או נתונים מסוימים. כל תוכן שיתווסף על ידי משתמשים או מנהלים יכונה להלן "תוכן המשתמש". הנך אחראי הבלעדי והיחיד לכל תוכן משתמש שאתה מעלה. אתה מצהיר ומתחייב שתוכן המשתמש עומד בכל תנאי החוק הרלוונטיים, שאתה מחזיק בכל הזכויות הדרושות כדי להעלות את תוכן המשתמש באמצעות השירותים, וכי תוכן המשתמש אינו מפר (או מוביל לתוצאת הפרה של) זכות קניין רוחני, זכות מוסרית, זכות לפרסום או זכות לפרטיות של צד שלישי. לאמפיריקל הייר אין שום מחויבות לקבל, להציג, לסקור או לתחזק כל תוכן משתמש. יתר על כן, אמפיריקל הייר שומרת לעצמה את הזכות להסיר ולמחוק לצמיתות כל תוכן, כולל כל תוכן משתמש שהועלה או שונה על ידי כל משתמש או מנהל, ללא הודעה מראש, מכל סיבה שהיא ובכל עת. אמפיריקל הייר לא מקדמת כל תוכן, דעה, או המלצה, המבוטאים באמצעות משתמש כזה או אחר, ואמפיריקל הייר מסירה באופן מפורש כל אחריות בקשר לתוכן, לרבות, ללא הגבלה, תוכן המשתמש.
<br><br>
אמפיריקל הייר רשאית לבחור, לפי שיקול דעתה הבלעדי, לעקוב אחר תוכן המשתמש כתוצאה מהתנהגות בלתי הולמת או בלתי חוקית, לרבות באמצעים אוטומטיים; עם זאת, אמפיריקל הייר שומרת לעצמה את הזכות להתייחס לתוכן המשתמש כתוכן המאוחסן עבור משתמשים שאמפיריקל הייר לא תפעיל בקרת עריכה עבורם, למעט במקרים בהם ההפרות מובאות ישירות בפני אמפיריקל הייר. לאמפיריקל הייר יש זכות לערוך, למחוק, לעוות, לשנות או להעביר תוכן משתמש מהאתר, מההערכה או מהשירותים ללא הודעה מראש, מכל סיבה שהיא ובכל עת. בנוסף, אמפיריקל הייר רשאית לסרב לשדר, לשלוח בדואר אלקטרוני, או לפרסם כל תוכן משתמש (לרבות האפשרות שלא לאפשר למשתמש לפרסם או להפיץ תוכן משתמש באמצעות צד שלישי) ללא הודעה מראש, מכל סיבה שהיא ובכל עת.
<br><br>
אתה מבין כי אמפיריקל הייר אינה אחראית על הדיוק, התועלת, הבטיחות או על זכויות הקניין הרוחני הקשורות בתוכן המשתמש, באופן ישיר או עקיף. למרות שהמשתמשים ומנהלי המערכת חייבים להסכים לתנאי השימוש, ייתכן שצדדים שלישיים המבצעים שימוש במערכת (לרבות משתמשים לא מורשים) יפרסמו או יעבירו חומרים פוגעניים או מגונים, אליהם אתה עלול להיות חשוף באופן לא רצוני, ואתה מסכים בזאת לוותר על כל זכות או סעד משפטי או סעד מכח דיני היושר שיש לך או שעשוי להיות לך כלפינו בהקשר עם האמור לעיל. אנו מסירים כל אחריות, ללא קשר לצורת הפעולה, הנוגעת לכל פעולה או מחדל של משתמשים או צדדים שלישיים (לרבות משתמשים לא מורשים), בין אם הפעולה או המחדל נוצרו במהלך השימוש בשירות או בכל דרך אחרת.
<br><br>
מגבלות תוכן<br>
מבלי לגרוע מהאמור לעיל, הנך מסכים לכך שלא תשלח, תפרסם או תעלה כל תוכן משתמש אשר: (א) מפר זכויות חוקיות של צדדים שלישיים לרבות השמצה, התעללות, מעקב או איום על משתמשים בלתי חוקי ו/או נועד למטרות בלתי חוקיות ו/או הפוגעים בפעילות המערכת; (ב) מפר (או עלול להפר) זכות קניין רוחני, זכות מוסרית או כל זכות אחרת של צד שלישי; (ג) מהווה (או שאתה מאמין שהוא מהווה או שסביר להניח שהוא מהווה) תוכן בלתי חוקי, מזויף או בלתי מורשה, או מקדם כל פעולה בלתי חוקית, מזויפת, פירטית, בלתי מורשית או אלימה, או פעולה הכרוכה (או שאתה מאמין באופן סביר או סביר להניח שכרוך בה) כל חומר גנוב, בלתי חוקי, מזויף, פירטי או בלתי מורשה; (ד) אינו עומד בכל החוקים, הכללים או התקנות הרלוונטיים; (ה) מכיל שקר או מצג שווא העלולים לפגוע באמפיריקל הייר או בכל צד שלישי; (ו) מערב פעילויות הימורים, או תשלום או קבלה של תשלומים הקשורים לפעילויות הימורים; (ז) מטיל עומס גדול באופן בלתי סביר או לא פרופורציונלי על התשתית של שלנו; או (ח) מפרסם, מאחסן, מעבד, מציע או משדל לכל מה שמכיל את המפורט להלן, או שאתה יודע שמכיל קישורים למפורט להלן, או מוביל למקומות שמכילים קישורים למפורט להלן: (א) חומר שאמפיריקל הייר קובעת שהוא פוגעני (לרבות חומר המקדם או מאדיר שנאה, אלימות, קנאה או כל ישות (בעבר או בהווה) המקדישה עצמה לחומר פוגעני כאמור או לפריטים הקשורים עם ישות שכזו); (ב) חומר גזעני או אתני המשמיץ, מטריד או מאיים; (ג) פורנוגרפיה (כולל כל חומר גס וכל דבר המתאר ילדים במצבים של רמיזות מיניות, בין אם מתאר ילדים אמיתיים ובין אם לאו), או שעלול להזיק לקטין, (ד) כל וירוס, סוס טרויאני או כל רכיב מזיק או משבש או (ה) כל דבר המעודד התנהגות שתיחשב כעבירה פלילית, יוביל לאחריות אזרחית, יפר כל חוק או תקנה או שאינו הולם בצורה כזו או אחרת.
<br><br>
מגבלות שימוש<br>
בנוסף לאמור בתנאי השימוש אלו, הארגון ו/או המשתמשים אינם רשאים, ואף אינם רשאים לאפשר לצד שלישי או משתמש מטעמם: (א) לנסות לפענח, לפרק לגורמים, להסיר או לבצע הנדוס לאחור של התוכנה, כולה או חלק ממנה, המשמשת לאספקת המערכת, ההערכה ו/או השירותים, ללא אישור מראש ובכתב שלנו, לרבות העתקה או הצבה של המערכת, ההערכה ו/או השירותים, או כל חלק מהם בתוך מסגרת של תוכנה אחרת; (ב) לסכל, למנוע, או להפריע בצורה כזו או אחרת לתכונות הקשורות באבטחת המערכת, ההערכה ו/או השירותים או לתכונות המונעות או מגבילות שימוש או העתקה של תוכן משתמש; (ג) להשתמש במערכת, בהערכה ו/או בשירותים בכל דרך שאינה עולה בקנה אחד עם תנאי השימוש; (ד) להשתמש בכל רובוט, מנוע אחזור וחיפוש מידע, או בכל כלי אוטומטי או ידני אחר אשר מתוכנן לאנדקס, לאחזר מידע או כלי כאמור אשר מתוכנן לחשוף את מבנה מאגר הנתונים והקוד של המערכת, ההערכה ו/או השירותים; (ה) להשתמש במערכת, בהערכה ו/או בשירותים בכל אופן שאינו מאושר במסגרת תנאי השימוש; (ו) להוסיף כל מידע הקשור לחשבון או סיסמה של משתמש לשירותים מבלי לקבל את הסכמת המשתמש מראש ובכתב; (ז) להשתמש או לגשת לחשבון או סיסמה של משתמש ללא רשות מהמשתמש, למעט גישה ושימוש המותרים למנהל כמפורט בתנאי השימוש. ככל שהמגבלות המפורטות בסעיף זה או חלק מהן אינן אכיפות על פי חוק, עליך להודיע לאמפיריקל הייר בכתב לפני נקיטת פעולה המנויה לעיל.
<br><br>
זכויות קנייניות<br>
המערכת, השירותים וכל תוכן משתמש כמפורט להלן, הם רכושה הבלעדי של אמפיריקל הייר או של צדדים שלישיים שהעניקו רישיון לאמפיריקל הייר, לרבות כל זכויות קניין רוחני בינלאומיות במערכת ו/או בשירותים וכל סימני המסחר, סימני השירותים, סימני היכר, וסמלים מסחריים הכלולים המערכת ו/או השירותים. למעט כמפורט מפורשות להלן, אין להעתיק, לפתח, לשכפל, לפרסם, לשנות, להוריד, להעביר או להשתמש בכל צורה אחרת במערכת ו/או בשירותים, כולם או חלקם. הנך מתחייב שלא תסיר, תמחק או תשנה בדרך כלשהי הודעות או סימונים אחרים לגבי זכויות קנייניות המופיעים או הכלולים במערכת ו/או בשירותים. כל סימני המסחר הם סימני מסחר רשומים או שאינם רשומים השייכים לבעליהם. אין בתנאי שימוש אלה כדי להקנות לך זכות כלשהי להשתמש בקניינה הרוחני של אמפיריקל הייר או של צדדים שלישיים, לפי העניין.
<br><br>
על ידי שליחה או פרסום של תוכן המשתמש, אתה מעניק לאמפיריקל הייר ולנציגיה רישיון קבוע ומתמשך, בינלאומי, לא בלעדי, ללא תמלוגים, הניתן להעברה ולמתן רישיון משנה, להשתמש, להעתיק, להפיץ, לשדר, לשנות, וליצור יצירות נגזרות של תוכן המשתמש כאמור, באמצעות או בקשר עם מתן השירותים ו/או המערכת.
<br><br>
הסרת אחריות<br>
השימוש במערכת ו/או בשירותים הינו על אחריותך בלבד. המערכת, התוכן והשירותים מסופקים כמו שהם<br>
( and "AS AVAILABLE""AS IS") ללא התחייבות מכל סוג. אנחנו מפעילים מאמצים סבירים על מנת לספק תוכן אינפורמטיבי ומועיל, אך אנו מסירים מעצמנו כל מצג או התחייבות הקשורים בכל תוכן. איננו מתחייבים לכך שתמצא תוכן אינפורמטיבי או מועיל לצרכיך.
<br><br>
אנחנו מסירים, באופן מפורש, כל התחייבות מכל סוג, מפורשת, משתמעת או על פי חוק, בקשר למערכת, לתוכן (לרבות תוכן משתמש) ולשירותים, לרבות התחייבויות הנוגעות לבעלות, סחירות, התאמה למטרה מסוימת, אי-הפרה (לרבות של זכויות קניין). אנחנו מסירים כל התחייבות, מפורשת או משתמעת (1) הנוגעת לאבטחה, דיוק, מהימנות, טווחי הזמן וביצועים של המערכת, התוכן והשירותים; או (2) שהמערכת ו/או השירותים יינתנו כסדרם או בלא הפסקות, יהיו איכותיים, יתקיימו בבטחה וללא טעויות, ו/או הפרעות, ושכל טעות ו/או הפרעה תתוקן; או (3) בנוגע לביצועים של, או לדיוק, איכות, העמידה בזמנים, שלמות או תועלת של המידע הניתן באמצעות המערכת ו/או השירותים, כולו או חלקו.
<br><br>
אמפיריקל הייר לא תישא באחריות עבור כל פגם בתוכן (לרבות תוכן משתמש) במערכת או הקשור לשירותים או אשר מועבר על ידי משתמש כלשהו או מנהל או על ידי ציוד או תוכנות הקשורות למערכת. כל עצה או מידע הנמסרים בעל פה או בכתב, שתקבל מאמפיריקל הייר לא ייצרו כל אחריות לאמפיריקל הייר, מעבר למה שכתוב מפורשות בתנאים אלו. במידה ותסתמך על כל עצה ו/או מידע כאמור, הסתמכות זו הינה על אחריותך הבלעדית. ישנן מדינות בהן אסור להחריג סוגים שונים של אחריות. אי לכך, אפשר וחלק מהחרגות לעיל לא יחולו עליך.
<br><br>
איננו מקבלים על עצמנו אחריות, ולא תהיה לך שום טענה כלפי אמפיריקל הייר, עבור כל שגיאה, השמטה, הפסקה, מחיקה, פגם, עיכוב בפעולה או שידור, כשל בקו תקשורת, גניבה או הרס או גישה בלתי מורשית או שינוי של תוכן כלשהו. איננו אחראים לכל בעיה או תקלה טכנית של כל רשת או קו טלפון ו/או אינטרנט, מערכות מחשב מקוונות, שרתים או ספקים, ציוד מחשב, תוכנה, כשל בכל אימייל הנובעים מבעיות טכניות או עומס תנועה באינטרנט או במערכת או בשירותים שלנו, לרבות כל פגיעה או נזק למשתמשים או לכל מחשב של אדם הקשור או הנובע מהשתתפות או הורדת חומרים מהמערכת או בקשר איתו ו/או בקשר לשירותים. בשום מקרה לא תהיה אמפיריקל הייר אחראית לכל אובדן או נזק, לרבות פגיעה אישית או מוות, כתוצאה משימוש במערכת ו/או בשירותים, מכל תוכן שפורסם או מהתנהגות של כל משתמשי האתר ו/או השירותים, בין אם בצורה מקוונת ובין אם לאו.
<br><br>
אמפיריקל הייר, מנהליה, נושאי המשרה בה, עובדיה, שליחיה או בעלי מניותיה בשום אופן לא יהיו אחראים כלפיך או כלפי כל צד שלישי לכל נזק או פיצוי שהוא, לרבות, ללא הגבלה, נזק או פיצוי כללי, אגבי, תוצאתי, עקיף, ישיר או עונשי הנובע מהשימוש במערכת, בהערכה, ובשירותים או הקשורים אליהם, לרבות האיכות, הדיוק או התועלת של המידע הניתן כחלק מהמערכת ו/או השירותים או במסגרתם, בין אם הנזקים היו ניתנים לצפייה ובין אם היינו מודעים לנזקים אלו. החבות הכוללת של אמפיריקל הייר במסגרת כל תנאי מתנאי השימוש הללו לא תעלה על הסכום ששילמת לנו בכדי להשתמש במערכת בשנים עשר (12) החודשים שקדמו לטענה הרלוונטי. לכן, אם לא שילמת לנו כל סכום כדי להשתמש במערכת, לא תהיה לנו שום אחריות כלפיך.
<br><br>
שיפוי<br>
אתה מתחייב לשפות את אמפיריקל הייר ועובדיה, מנהליה, נושאי המשרה בה, קבלניה ושליחיה כנגד כל טענה, תביעה, פיצוי, עלות או הוצאה (לרבות שכר טרחת עורכי דין והוצאות משפט) הנובעים, באופן ישיר או עקיף: (א) מהפרה של תנאים אלו על ידיך או על ידי כל מי שמשתמש במחשב שלך או בסיסמה שלך; (ב) מכל תביעה, אובדן או נזק הנובעים מהשימוש שלך, ניסיון שימוש שלך במערכת ו/או בשירותים; (ג) מכל עבירה שלך על החוק או על התקנות; (ד) כל הפרה של זכויות צדדים שלישים על ידיך, או (ה) כל עניין אחר שלגביו אתה נושא באחריות על תנאים אלו או על פי כל דין.
<br><br>
כללי<br>
דיני מדינת ישראל יחולו על הסכם זה והוא יפורש על פיהם. לבתי הדין של תל-אביב-יפו תהא סמכות שיפוט בלעדית על כל פעולה, תביעה או כל הליך אחר הקשורים בהסכם זה. בכל פעולה לאכיפת הסכם זה, יהיה הצד המוביל אחראי לשלם עלויות ושכר טרחת עורכי הדין. כל עילת תביעה נגד אמפיריקל הייר יש להביא בתוך שנה אחת (1) מיום שעילת התביעה כאמור התעוררה. אם הוראה כלשהי בהסכם זה נחשבת כבלתי אכיפה או חסרת תוקף, אותה הוראה תיאכף במידה המרבית האפשרית, וההוראות האחרות יישארו בתוקף מלא. הסכם זה לא יוצר כל סוכנות או יחסי שותפות בינך לבין אמפיריקל הייר או מאשר לך לפעול בשם אמפיריקל הייר. מלבד המפורש בתנאים אלו, תנאים אלו מהווים את ההסכם המלא בין אמפיריקל הייר לבינך בנוגע לנושא הנדון כאן, וכל יתר ההסכמים הקיימים בינינו בנוגע לכך מבוטלות בזאת. אינך רשאי להמחות או להעביר את זכויותיך או חובותיך מתוקף הסכם זה לצד שלישי כלשהו. אמפיריקל הייר רשאית להעביר או להמחות את זכויותיה או חובותיה בהסכם זה לכל צד שלישי.
<br><br>
<br><br>

עודכן לאחרונה: נובמבר 2017
</p>
</body>
</html>