<!DOCTYPE html>
<html>
<% include partials/head %>
<header>
    <% include partials/logo %>
    <!--
    <div class="container col-md-12">
        <h1> <%=  title %> </h1>
    </div>
    -->
</header>
<body class="content" dir=<%=textDirection%>>
<% include partials/thankYouPartial %>

<% include partials/footer %>
</body>
</html>
