// Font imports and stacks
@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700');

$main: "Noto Sans", "Helvetica", "Arial", sans-serif;

// Colors
$white: #ffffff;
$gray: #878787;
$gray-light: #f6f6f6;
$text: #373737;
$brand: #f7b239;