@media (device-height: 568px) and (height: 529px),
(device-height: 480px) and (height: 441px) {
    /* minimal-ui is active */
}

@media screen
and (min-device-width: 1200px)
{
  .introText {
    font-family: Arial;
    line-height: 1.3;
    font-size: 16px;
    font-weight: 100;
    color: dimgray;
    letter-spacing: 1px;
    text-align: right;
    margin-top: 50px;
    padding: 25px;
    /*border-style: solid;
    border-width: 1px;
    border-color: darkgrey;*/
    border-radius: 25px;
    vertical-align: middle;
    background-color: white;
    /*opacity: 0.9;*/
    width: 50%;
  }

  .inputField {
    font-size: large;
    line-height: 1.5;
  }

  .bType {
    float: none;
    width:80%;
    font-size: 12px;
    border-radius: 0;
    text-align: right;
    white-space: unset;
  }
  .bTypeGroup {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
  }
  .q {
    font-size: large;
    font-weight: 600;
    color: black;
    margin-top: 50px;
    padding: 5px;
    /*border-style: solid;
    border-width: 1px;
    border-color: darkgrey;*/
    border-radius: 0px 0px 25px 25px;
    vertical-align: middle;
    background-color: white;
    /*opacity: 0.9;*/
    width: 60%;

  }
  #radioBtn .notActive:hover {
    background-color: cornflowerblue;
  }
}

/* IPHONE 6 and above */
@media only screen
and (min-device-width: 340px)
and (max-device-width: 667px) {
  .introText {
    font-family: Arial;
    font-size: 13px;/* "Lucida Grande", Helvetica, Arial, sans-serif;*/
    line-height: 1.1;
    /*font-size: large;*/
    font-weight: 100;
    color: dimgray;
    letter-spacing: 1px;
    text-align: right;
    margin-top: 50px;
    padding: 25px;
    /*border-style: solid;
    border-width: 1px;
    border-color: darkgrey;*/
    border-radius: 0px 0px 25px 25px;
    vertical-align: middle;
    background-color: white;
    /*opacity: 0.9;*/
    width: 100%;
    height: 100%;

  }

  .screen {
    padding-bottom:50px;
  }

  .logo {
    /*zoom: 55%;*/
  }
  .inputField {
    font-size: large;
    line-height: 1.5;
  }

  .bType {
    float: none;
    width:100%;
    font-size: 10px;
    border-radius: 0;
    text-align: right;
    white-space: unset;
}
.bTypeGroup {
min-width: 100%;
float: right;
}
  .q {
    font-size: medium;
    font-weight: 600;
    color: black;
    margin-top: 50px;
    padding: 15px;
    /*border-style: solid;
    border-width: 1px;
    border-color: darkgrey;*/
    border-radius: 25px;
    vertical-align: middle;
    background-color: white;
    /*opacity: 0.9;*/
    width: 100%;

  }
}

/* IPHONE 5 and less */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 339px) {
  .introText {
    font-family: Arial;
    font-size: 13px; /* "Lucida Grande", Helvetica, Arial, sans-serif;*/
    line-height: 1.1;
    /*font-size: large;*/
    font-weight: 100;
    color: dimgray;
    letter-spacing: 1px;
    text-align: right;
    margin-top: 50px;
    padding: 25px;
    /*border-style: solid;
    border-width: 1px;
    border-color: darkgrey;*/
    border-radius: 0px 0px 25px 25px;
    vertical-align: middle;
    background-color: white;
    /*opacity: 0.9;*/
    width: 100%;
    height: 100%;
  }

  .screen {
    padding-bottom:150px;
  }

  .logo {
    /*zoom: 55%;*/
  }
  .inputField {
    font-size: medium;
    line-height: 1.3;
  }

  .bType {
    float: none;
    width:100%;
    font-size: 10px;
    border-radius: 0;
    text-align: right;
    white-space: unset;
  }
  .bTypeGroup {
    min-width: 100%;
    float: right;
  }
  .q {
    font-size: small;
    font-weight: 600;
    color: black;
    margin-top: 50px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px;
    /*border-style: solid;
    border-width: 1px;
    border-color: darkgrey;*/
    border-radius: 25px;
    vertical-align: middle;
    background-color: white;
    /*opacity: 0.9;*/
    width: 100%;

  }
}

body {
  padding: 10px;
  font-family: Arial;
  /*direction: rtl;*/
  background-color: white;
  /*opacity: 0.6;*/
  width: 100%;
}

form {
  text-align: center;

}

.headline {
  position: absolute;
  z-index: -1;
  font-size: 14px;/* "Lucida Grande", Helvetica, Arial, sans-serif;*/
  font-family: Arial;
  background-image: url("../images/headline_bg.png");
  width: 90%;
  padding: 5px 25px 5px 5px;
  right: 20px;
  top: 90px;
  text-align: right;
  color: white;
  letter-spacing: 1px;
}

.background {
  /*background-color: whitesmoke;*/
  /*opacity: 0.9;*/
  /*border-radius: 25px;*/
}

h1 {
  padding:0px 20px 20px 0px;
  text-align: center;
  /*direction: ltr;*/
  font-size: 1em;
  color: #68668c;
}

.container {
}
 p {
   /*float: right;*/
   margin: 0px 0px 0px 0px;
 }

 p.b {
   font-weight: bold;
 }


.a {
  padding-top: 20px;
}

.option {
  width: 40%;
}

div.error {
  font-size: smaller;
  color: darkred;
  padding: 5px;
  /*border: solid red 1px;*/
}

/*
.btn:hover {
  zoom: 100%;
}
*/


#radioBtn .notActive{
  color: #3276b1;
  background-color: #fff;
}

a {
  color: #00B7FF;
}

.content:before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  top:0;
  bottom: 0;
  z-index: -1;


  display: block;
  background-image: url("../images/EH_bg.png");


  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);

 /* background: black; /* For browsers that do not support gradients */
 /* background: -webkit-linear-gradient(black, white); /* For Safari 5.1 to 6.0 */
 /* background: -o-linear-gradient(black, white); /* For Opera 11.1 to 12.0 */
 /* background: -moz-linear-gradient(black, white); /* For Firefox 3.6 to 15 */
 /* background: linear-gradient(black, white); /* Standard syntax */
}

.content {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 0;
  margin: 0px;
}

.btn-group {
  min-width: inherit;
}

/* overide bootstrap large button so that more buttons will fit in one line on small handsets */
.btn-lg {
  padding: 10px 13px;
}

/*
.grad {
  background: black; /* For browsers that do not support gradients */
 /* background: -webkit-linear-gradient(black, white); /* For Safari 5.1 to 6.0 */
  /* background: -o-linear-gradient(black, white); /* For Opera 11.1 to 12.0 */
  /* background: -moz-linear-gradient(black, white); /* For Firefox 3.6 to 15 */
  /* background: linear-gradient(black, white); /* Standard syntax */
/*}

